
# Build artifacts / binaries
secure_app
secure_app_with_logging
logs/test_logger
database/test_log_db
database/test_logs
*.o

# Runtime logs
*.log
secure_monitoring.log
logs/secure_monitoring.log
src/secure_monitoring.log

#Build Outputs
*.o
src/SCMonitoring
SCMonitoring

#Logs
*.log

#Database secrets 
.env
